@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbnail:hover::after,
.thumbnail.hovered::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.5; /* Adjust for desired fade level */
}

:root {
  font-family: "Kumbh Sans", sans-serif;
}

.nav-li li {
  cursor: pointer;
}

.nav-li li:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ff7d1a;
  bottom: -43px;
}

.nav-li li:hover {
  color: black;
}

.filter-close {
  filter: invert(100%) sepia(2%) saturate(9%) hue-rotate(331deg)
    brightness(100%) contrast(104%);
}

.filter-close:hover {
  filter: invert(64%) sepia(33%) saturate(5678%) hue-rotate(347deg)
    brightness(100%) contrast(102%);
}

.filter-next {
  filter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(7470%)
    hue-rotate(138deg) brightness(100%) contrast(101%);
}

.filter-next:hover {
  filter: invert(64%) sepia(33%) saturate(5678%) hue-rotate(347deg)
    brightness(100%) contrast(102%);
}

.filter-cart {
  filter: invert(45%) sepia(5%) saturate(942%) hue-rotate(181deg)
    brightness(93%) contrast(89%);
}

.filter-cart:hover {
  filter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(7470%)
    hue-rotate(138deg) brightness(100%) contrast(101%);
}

.filter-quantity {
  filter: brightness(0) saturate(100%) invert(59%) sepia(39%) saturate(4185%)
    hue-rotate(348deg) brightness(102%) contrast(101%);
}


@media (max-width: 425px) {
  .cart {
    width: 42vh;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 260px;
  }

  .checkout-btn {
    width: 300px;
    margin-top: 5px;
  }

  .cart-active {
    width: 321px;
  }

  .cart-list {
    width: 228px;
  }
  
  .delete-icon {
    padding-left: 15px;
  }

}

